@media screen and (max-width: 600px){
    .status-title{
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .status-div{
         max-width: 500px;
         text-align: center;
         flex-direction: row;
    }
    .status-topic{
        font-size: 13px;
    }
    .status-value{
        font-size: 25px;

    }

    .status-perc{
        font-size: 13px;
    }

}





@media screen and (max-width: 1200px){
.status-div{
         max-width: 800px;
    }
}